* {
	box-sizing: border-box;
}

:root {
	--c-github: #000000;
	--c-github-bg: #bdbdbd;
	--c-chrome: #247bff;
	--c-chrome-bg: #adceff;
	--c-vscode: #47b1f3;
	--c-vscode-bg: #b7e1fc;
	--c-vscom: #9f5deb;
	--c-vscom-bg: #ead7ff;
	--c-postman: #fd6c35;
	--c-postman-bg: #ffcab5;
	--c-figma: #f24e1e;
	--c-figma-bg: #ffb6a0;

	--primary: rgb(255, 144, 40);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

body {
	height: 100vh;
	width: 100vw;

	margin: 0;
	scroll-behavior: smooth;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Test section */
section.test {
	height: 100vh;
}

/* Hero styles */

.hero {
	position: relative;
	display: flex;
	align-items: center;

	min-height: 100vh;
	width: 100vw;

	overflow: hidden;
	padding: 0 1rem;
}

.hero-content {
	max-width: 400px;
	min-width: 250px;
	display: grid;
	grid-template-rows: auto auto;

	margin: 0 auto;
	box-sizing: border-box;
}

/* Hero description in general */

.hero-text-container {
	height: min-content;
	position: relative;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-text-container h1 {
	font-size: 2.4rem;
	margin-top: 0;
}

.hero-text-container p {
	line-height: 130%;
}

.hero-text-container h1 span {
	color: var(--primary);
}

/* Tool Descriptions */

.tool-descriptions {
	position: absolute;
	z-index: -1;
	top: 0;
	opacity: 0;

	transition: opacity 300ms ease-in 200ms;
}

.tool-descriptions.active {
	z-index: 200;
	opacity: 1;
}

.tool-descriptions > div {
	display: none;
}

.tool-descriptions > div.active {
	display: block;
}

.tool-descriptions > div[data-text-for='vscode'] span {
	color: var(--c-vscode);
}

.tool-descriptions > div[data-text-for='vscom'] span {
	color: var(--c-vscom);
}

.tool-descriptions > div[data-text-for='github'] span {
	color: var(--c-github);
}

.tool-descriptions > div[data-text-for='chrome'] span {
	color: var(--c-chrome);
}

.tool-descriptions > div[data-text-for='postman'] span {
	color: var(--c-postman);
}

.tool-descriptions > div[data-text-for='figma'] span {
	color: var(--c-figma);
}

/* Hero Icons */

.hero .icons {
	display: flex;
	align-items: center;
}

.hero .icons-inner {
	position: relative;
	height: 15rem;
	width: 100%;
}

.hero .icon {
	position: absolute;
	border-radius: 50%;
	aspect-ratio: 1/1;

	width: var(--width);
	top: calc(var(--top) - calc(var(--width) / 2));
	left: calc(var(--left) - calc(var(--width) / 2));

	display: flex;
	justify-content: center;
	align-items: center;
}

.hero .icon::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 101;

	top: 50%;
	left: 50%;
	border-radius: 50%;

	aspect-ratio: 1/1;

	background-color: inherit;

	transform: translate(-50%, -50%) scale(0);
	transform-origin: center center;

	width: 300vmax;

	transition: transform ease-in 0.3s, z-index 0s 0.3s;
}

.hero .icon.active::before {
	transform: translate(-50%, -50%) scale(1) !important;
}

.hero .icon img {
	z-index: inherit;
	width: 50%;
}

.hero .large-icon {
	position: relative;
	z-index: 200;
	pointer-events: none;

	width: 60%;
	margin: 0 auto;

	display: flex;

	justify-content: center;
	align-items: center;
}

.hero .large-icon img {
	content: var(--image);
	opacity: 0;
	position: absolute;
	width: 100%;

	transition: opacity 200ms;
}

.hero .large-icon.active img {
	opacity: 1;
	transition: opacity ease-in 200ms 100ms;
}

.hero .large-icon::before {
	display: block;
	content: '';
	padding: 50%;
}

/* Individual icons */

.hero .icon[data-toggle-for='vscode'] {
	background-color: var(--c-vscode-bg) !important;
	--width: 7rem;
	--top: 50%;
	--left: 30%;
}

.hero .icon[data-toggle-for='vscom'] {
	background-color: var(--c-vscom-bg) !important;
	--width: 4rem;
	--top: 20%;
	--left: 47%;
}

.hero .icon[data-toggle-for='postman'] {
	background-color: var(--c-postman-bg) !important;
	--width: 4rem;
	--top: 39%;
	--left: 64%;
}

.hero .icon[data-toggle-for='figma'] {
	background-color: var(--c-figma-bg) !important;
	--width: 3rem;
	--top: 15%;
	--left: 72%;
}

.hero .icon[data-toggle-for='github'] {
	background-color: var(--c-github-bg) !important;
	--width: 5rem;

	--top: 71%;
	--left: 56%;
}

.hero .icon[data-toggle-for='chrome'] {
	background-color: var(--c-chrome-bg) !important;
	--width: 4rem;

	--top: 55%;
	--left: 80%;
}

/* end of hero icons */

@media only screen and (min-width: 900px) {
	.hero {
		height: 100vh;
	}

	.hero-content {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		max-width: 1000px;
		gap: 5vmax;
	}

	.hero-text-container {
		grid-column: 2;

		margin: auto 0;
	}

	.icons {
		grid-column: 1;
		grid-row: 1;
	}

	.vscode {
	}
}

@media only screen and (min-width: 1100px) {
	html {
		font-size: 1.3rem;
	}
}
