* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;

	margin: 0;
}

.hero {
	box-sizing: border-box;
	position: relative;

	overflow: hidden;
	height: 100vh;
	width: 100vw;
	padding: 1rem;

	display: grid;
	grid-template-rows: auto min-content;
}

/* Hero Icons */

.hero .icons {
	position: relative;
	display: flex;
	justify-content: space-around;
}

.hero .icons .icon {
	position: relative;
	padding: 1rem;

	border-radius: 50%;

	aspect-ratio: 1 / 1;
	display: flex;
	place-content: center;
}

.hero .icons .icon.active {
	z-index: 101;
}

.hero .icons .icon::before {
	content: '';
	display: block;
	position: absolute;

	top: 50%;
	left: 50%;
	border-radius: 50%;

	aspect-ratio: 1/1;

	background-color: inherit;

	transform: translate(-50%, -50%) scale(0);
	transform-origin: center center;

	width: 300vmax;

	transition: transform ease-out 1s;
}

.icon.active::before {
	transform: translate(-50%, -50%) scale(1) !important;
	z-index: 100;
}

.vscode {
	background-color: #cee5ff !important;
}

.hero .icons .icon img {
	z-index: inherit;
	max-width: 10vmin;
}

/* end of hero icons */

@keyframes expandIconBubble {
}
